
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --rojo:#89375F;
    --azul:#BACDDB;
    --lila:#F3E8FF;
    --colorPrimario:#F6F5F2;
    --colorSecundario:#F0EBE3;
    --colorTerciario:#C39898;
    --colorBox:#DBB5B5;
}
body{
    background-color: var(--colorSecundario);
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.container .box_tareas .box_guardar{
    background-color: var(--colorPrimario);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    height: 100px;
    border:2px solid var(--colorTerciario);
    border-bottom: none;
    display: grid;
    
    & h2.guardar_titulo{ 
        margin: 0 auto;
    }
    & .box_guardar_opc{
       display: flex;
       justify-content: space-around;
       align-items: center;
    }
    & select, input{
        height: auto;
        padding: 8px 7px;
        border: 1px solid var(--colorBox);
        color: var(--rojo);
        border-radius: 5px;
        
    }
}
.container .box_tareas .box_buscar{
    background-color: var(--colorPrimario);
    max-width: 800px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:2px solid var(--colorTerciario);

    & select, input{
        height: auto;
        padding: 8px 7px;
        border: 1px solid var(--colorBox);
        color: var(--rojo);
        border-radius: 5px;

    }
}
.container .box_tareas .tareas{
    background-color: var(--colorTerciario);
    max-width: 800px;
    margin: 0 auto;
    min-height: 400px;
}
.container .tareas ul.lista_tareas{
    padding: 30px;
    text-decoration: none;
    
    & li{
        margin: 20px 0;
    }
   
}
li{
    display: flex;
    justify-content: space-between;
    & button{
        display: inline-block;
        background-color: #DBB5B5;
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid var(--rojo);
    }
}